body {
background-image : url("station.jpg") ;
text-align : center ;
color : #f8f8f8 ;
margin-top: 250px;
margin-right : 150px;
font-size : 20px ;
background-size : cover ;
font-family : Helvetica ;
display : flex ;
justify-content : center ;
flex-direction : column ;
align-items : center;

}

#increment {
background : darkred;
}

#save {
background : darkgreen ;
}

button {
font-weight : bold ;
margin : 5px ;
padding : 5px ;
border-radius : 10px ;
color : black ;
width : 150px ;
}

.count {
max-width : 700px;
}

#save-el {
color : red;
}